{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LogIn - Gradyent</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'home/css/master.css' %}">
</head>

<body>
  <div class="container py-5">
    <div class="row h-100">
      <div class="col-6 my-auto">
        <img src="{% static 'home/img/logo.png' %}" width="100%" class="image-logo">
      </div>
      <div class="col-6 text-center my-auto">
        <h2>YOU ARE MAKING</h2>
        <h2>THE RIGHT MOVE</h2>
        <br>
        <form class="form-signin" method="post" novalidate>
          {% csrf_token %}

          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          {% endif %}

          <div class="form-group">
            {% for field in form.visible_fields %}

              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid  " placeholder=field.label %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control is-valid" placeholder=field.label %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" placeholder=field.label %}
              {% endif %}

            {% endfor %}

          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit"><strong>SIGN UP</strong></button>
        </form>
        <p>Already a pro? <span><a href="login">Log in</a></span></p>

      </div>
    </div>
  </div>
</body>

</html>
